<!-- admin_dashboard.html -->
{% extends 'base.html' %}

{% block title %}Admin Panel{% endblock %}

{% block content %}
<div class="jumbotron" style='background-color: #f8f9fa;
    background-color: #00254b;
    padding: 2rem 13rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    }
    </style>
    '>
    <h1 class="display-4">Admin Paneliga xush kelibsiz</h1>
    <p class="lead">Bu sizning Django loyihangizning admin paneli.</p>
    <hr class="my-4">
    <a class="btn btn-primary" href="{% url 'home' %}" role="button">Bosh sahifaga o'tish</a>
    <a class="btn btn-secondary" href="{% url 'account_logout' %}" role="button">Chiqish</a>
</div>

<style>
    body {
        padding-top: 0;
    }
    
</style>

{% endblock %}
