{% extends 'base.html' %}

{% block title %}Menejer Ko'rinishi{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Menejer Ko'rinishiga xush kelibsiz</h1>
    <p class="lead">Bu sahifa faqat Menejer roliga ega foydalanuvchilar uchun mavjud.</p>
    <hr class="my-4">
    <a class="btn btn-primary" href="{% url 'home' %}" role="button">Bosh sahifaga o'tish</a>
    <a class="btn btn-secondary" href="{% url 'account_logout' %}" role="button">Chiqish</a>
</div>
{% endblock %}
